body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-lightslategray-100: #8897ad;
    --link: #458ff6;
    --secondary-text: #313957;
    --color-whitesmoke: #f3f9fa;
    --color-gainsboro: #cfdfe2;
    --color-ghostwhite: #f7fbff;
    --color-lightgray: #d4d7e3;
    --primary-text: #0c1421;
  
    /* Gaps */
    --gap-base: 16px;
    --gap-5xs: 8px;
  
    /* Paddings */
    --padding-13xl: 32px;
    --padding-xl: 20px;
    --padding-xs: 12px;
    --padding-6xs: 7px;
    --padding-base: 16px;
  
    /* Border radiuses */
    --br-5xl: 24px;
    --br-xs: 12px;
  }
  